.courses {
  position: relative;
  padding: 0 16px 0 16px;
  background: linear-gradient(#ffffff, #f0f1ff);
  height: 1695px;

  &__gradiant {
    color: white;
    background: linear-gradient(#ff6f48, #f02aa6);
    padding: 30px;
    border-radius: 8px;
  }

  &__icon {
    margin-bottom: 24px;
    position: absolute;
  }

  &__black-text {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    color: #83869a;
    margin-bottom: 24px;
  }

  &__pink-text {
    font-size: 18px;
    font-weight: 700;
    color: #f74780;
    padding: 0 32px 0;
  }

  &__size {
    padding: 56px 28px 32px;
    background-color: rgb(207, 40, 40);
    border-radius: 10px;
    width: 343px;
    margin-bottom: 40px;
  }
}
